# data-hub:

*   Website:           **Data-Hub.ir**
*   Youtube: [click here](https://www.youtube.comchannelUCrBcbQWcD0ortWqHAlP94ug)
*   Github: **github.com/datahub-ir**
*   Telegram Channel: @**data_hub_ir**
*   Telegram Group:    **@data_jobs**

In [1]:
!python --version

Python 3.9.6

## Creating a Comment

In [2]:
#This is a comment
print("Hello, World!")

Hello, World!

In [3]:
#print("Hello, World!")

In [4]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

Hello, World!

In [5]:
"""
This is a comment
written in
more than just one line
"""
print("Hello, World!")

Hello, World!

In [6]:
1

1

In [7]:
'Hello world'

'Hello world'

In [8]:
print("Hello world")

Hello world

In [9]:
print("سلام دنیا")

سلام دنیا

In [10]:
1 + 1

2

In [11]:
print('-'*50)

--------------------------------------------------

In [12]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

## Creating Variables

+ Variables are containers for storing data values.
+ Unlike other programming languages, Python has no command for declaring a variable.
+ A variable is created the moment you first assign a value to it.

In [13]:
a = 10
b = "It's just a test"
c = 12.5

In [14]:
print(a,b,c)

10 It's just a test 12.5

In [15]:
print("مقدار متغیر اول برابر است با :",a)

مقدار متغیر اول برابر است با : 10

In [16]:
print("In this test {} and {} are digits".format(a,c))

In this test 10 and 12.5 are digits

In [17]:
x = 4 # x is of type int
x = "محمد" # x is now of type str and we see converting
print(x)

محمد

In [18]:
x = "Dehghani"
# is the same as
x = 'Dehghani'

In [19]:
x, y, z = "isf", "isfahan", "esfahan"
print(x)
print(y)
print(z)

isf
isfahan
esfahan

In [20]:
x = y  = 75
print(x)
print(y)

75
75

## Output Variables

In [21]:
x = "awesome"
print("Freshteh is " + x)

Freshteh is awesome

In [22]:
x = "Data is"
y = "awesome"
z =  x +' '+ y
print(z)

Data is awesome

In [23]:
x = 74
y = 72
print(x + y)

146

In [25]:
x = 3
y = "rahi"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
x = 3
y = "rahi"
print(str(x) + y)

In [ ]:
x = 10
print(type(x))

In [ ]:
x = str(x)
type(x)

In [ ]:
a = "      سلام . دنیا"
print(a[15])

In [ ]:
b = "سلام اصفهان"
print(b[1:4])

In [ ]:
print(len(b))

In [26]:
print(a.strip())

AttributeError: 'int' object has no attribute 'strip'

In [ ]:
print(a.replace("ن", "ر"))

In [ ]:
print(a.split())

In [ ]:
print(a.split("."))

In [ ]:
txt = "یک روز خوب میاد"
x = "یک" in txt
print(x)

In [ ]:
a = "جهان"
b = "بدون مرز"
c = a + " " + b
print(c)

In [ ]:
print("  \"  ")

In [ ]:
#Escape Character
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

# Int

Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [ ]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

# Float

Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [ ]:
x = 35e3
y = 12.3
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

# Complex

Complex numbers are written with a "j" as the imaginary part:

In [ ]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

# Random Number

In [ ]:
import random

print(random.randrange(1, 10))

# Operators

In [ ]:
num1 = 7
num2 = 2

In [27]:
result = num1 + num2
result

NameError: name 'num1' is not defined

In [ ]:
result = num1 - num2
result

In [ ]:
result = num1 * num2
result

In [ ]:
result = num1 ** num2
result

In [ ]:
result = num1 / num2
result

In [ ]:
result = num1 // num2
result

In [ ]:
result = num1 % num2
result

# Conditions and If statements

In [ ]:
a = 33
b = 200
if b > a:
print("b is greater than a") # you will get an error

In [ ]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

In [ ]:
number = 9

In [ ]:
if(number%2 == 0):
    print("even")
else:
    print("odd")

In [ ]:
if(number%2 == 0):
    print("even")
elif:
    print("odd")

In [ ]:
if(number == 0):
    print("Zero")
elif(number > 0):
    print("Positive")
else:
    print("Negative")

In [ ]:
if 3 > 1: print("3 is greater than 1")

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

In [28]:
a = 200
b = 33
c = 500
if a < b or a > c:
    print("At least one of the conditions is True")

In [29]:
x = 20

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    elif(x < 20):
        print("but not above 20.")
    else:
        pass

Above ten,

# Loops

In [30]:
for i in range(4):
    print(i)

0
1
2
3

In [31]:
i = 0
while i <= 3:
    print(i)
    i += 1

0
1
2
3

In [32]:
n = 4

In [33]:
while n > 0:
    n -= 1
    if n == 2:
        continue
    print(n)

3
1
0

In [34]:
n = 4

In [35]:
while n > 0:
    n -= 1
    if n == 2:
        break
    print(n)

3

In [36]:
for i in range(1,5):
    for j in range(1,6):
        print(j,end=" ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [37]:
words = ["من", "تو", "بقیه"]
for x in words:
    print(x)

من
تو
بقیه

In [38]:
for x in "محمد":
    print(x)

م
ح
م
د

In [39]:
for x in range(2, 30, 3):
    print(x)

2
5
8
11
14
17
20
23
26
29

In [40]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry