# data-hub:

*   Website:           **Data-Hub.ir**
*   Youtube: [click here](https://www.youtube.comchannelUCrBcbQWcD0ortWqHAlP94ug)
*   Github: **github.com/datahub-ir**
*   Telegram Channel: @**data_hub_ir**
*   Telegram Group:    **@data_jobs**

## List

In [1]:
list1 = [1, 2.8 , 'This is a string', 1, [1,2]]

In [2]:
list1

[1, 2.8, 'This is a string', 1, [1, 2]]

In [3]:
list1.append(1)
print(list1)

[1, 2.8, 'This is a string', 1, [1, 2], 1]

In [4]:
del list1[1]
list1

[1, 'This is a string', 1, [1, 2], 1]

In [5]:
list1[0] = [1, 2]
list1

[[1, 2], 'This is a string', 1, [1, 2], 1]

In [6]:
len(list1)

5

In [7]:
for item in list1:
    print(item)

[1, 2]
This is a string
1
[1, 2]
1

In [8]:
list2 = [-1, -2, -3, -2]#عناصر تکراری مجاز است
list1 + list2 #ذخیره نمی شود

[[1, 2], 'This is a string', 1, [1, 2], 1, -1, -2, -3, -2]

In [9]:
list1

[[1, 2], 'This is a string', 1, [1, 2], 1]

In [10]:
list1[2:4]

[1, [1, 2]]

In [11]:
list1[2:]

[1, [1, 2], 1]

In [12]:
list1[:4]

[[1, 2], 'This is a string', 1, [1, 2]]

In [13]:
list1[:-3]

[[1, 2], 'This is a string']

## Tuple

In [14]:
# لیست و توپل مشابه ولی توپل غیرقابل تغییر
tuple1 = (1, 2.8, -1, 'This is a string')
tuple1

(1, 2.8, -1, 'This is a string')

In [15]:
tuple1[0]

1

In [16]:
tuple1[1] = 2 #این کار مجاز نیست
# از توپل ها نمی توان ایتمی حذف کرد

TypeError: 'tuple' object does not support item assignment

In [17]:
len(tuple1)

4

In [18]:
for item in tuple1:
    print(item)

1
2.8
-1
This is a string

In [19]:
tuple2 = ('M', 4.5, 0.9, -5, 1, -1)
tuple3 = tuple1 + tuple2
tuple3

(1, 2.8, -1, 'This is a string', 'M', 4.5, 0.9, -5, 1, -1)

## Set

In [20]:
set1 = {1, 2, 33.3, 2, 3 , "اول"}#تکراری ها حذف می شوند
set1

{1, 2, 3, 33.3, 'اول'}

In [21]:
set1.add("دوم")
set1

{1, 2, 3, 33.3, 'اول', 'دوم'}

In [22]:
set1.update([9, 10, 11])
set1

{1, 10, 11, 2, 3, 33.3, 9, 'اول', 'دوم'}

In [23]:
set1.remove(9)
set1

{1, 10, 11, 2, 3, 33.3, 'اول', 'دوم'}

In [24]:
len(set1)

8

In [25]:
11 in set1

True

In [26]:
set1 = {"a", "b" , 3}
set2 = {1, 2, }

In [27]:
set3 = set1.union(set2)
set3

{1, 2, 3, 'a', 'b'}

In [28]:
set3 = set1.intersection(set2)
set3

set()

In [29]:
set3 = set1.difference(set2)
set3

{3, 'a', 'b'}

## Dictionary

In [30]:
dict1 = {}

In [31]:
dict1['age'] = 20
dict1['name'] = 'Karen'
dict1['car'] = 'BMW'

In [32]:
dict1

{'age': 20, 'name': 'Karen', 'car': 'BMW'}

In [33]:
dict1['name']

'Karen'

In [34]:
del dict1['age']
dict1

{'name': 'Karen', 'car': 'BMW'}

In [35]:
len(dict1)

2

In [36]:
listOfKeys = list(dict1.keys())
listOfKeys

['name', 'car']

In [37]:
listOfValues = list(dict1.values())
listOfValues

['Karen', 'BMW']

In [38]:
for key in dict1.keys():
    print(dict1[key])

Karen
BMW

In [39]:
dict1['name'] = 'Mohammad'
dict1

{'name': 'Mohammad', 'car': 'BMW'}